.projetos-itens {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10%;
  margin-bottom: 5rem;
  margin-left: 30px;
  margin-top: -30px;
}

#projetos h2 {
  text-transform: uppercase;
  font-size: 2.5rem;
  padding-top: 80px;
  text-align: center;
}

.projeto-item h3 {
  font-size: 1.3rem;
  margin: 2.5rem 0;
}

.projeto-item span {
  color: #ffbb00;
  font-size: 0.9rem;
  display: block;
  margin: 2rem 0;
}

.projeto-item img {
  border-left: 5px solid #ffbb00;
  width: 100%;
  transition: 0.5s;
}

.projeto-item img:hover {
  transform: scale(110%);
  border-left: 5px solid rgba(101, 24, 180, 1);
}

.projeto-item-breve {
  background-color: #151515;
  height: 130px;
  width: 330px;
  position: relative;
  border-left: 5px solid #ffbb00;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  transition: 0.4s;
}

.projeto-item-breve:hover {
  border-color: rgba(101, 24, 180, 1);
}

.projeto-item-breve .breve p {
  font-size: 20px;
  color: #000;
  font-weight: 600;
}

.projeto-item-breve .breve {
  width: 1000px;
  text-align: center;
  padding: 15px 20px;
  transform: rotate(-30deg);
}

.projeto-item-breve:hover {
  letter-spacing: 5px;
}
